<section class="about-section" id="about">
  <div class="container">
    <div class="about-content">
      <h2 class="about-title">Про Меблерію</h2>
      <p class="about-text">
        У Меблерії ми прагнемо створювати затишок та функціональність у кожному
        домі. Наша місія - пропонувати високоякісні меблі, що поєднують у собі
        сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний
        інтер'єр починається з правильних меблів.
      </p>
    </div>
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="
          /img/about-us/mobile/aboult-mobile-1x.webp 1x,
          /img/about-us/mobile/aboult-mobile-2x.webp 2x
        "
      />

      <source
        media="(max-width: 1439px)"
        srcset="
          /img/about-us/tablet/about-tablet-1x.webp 1x,
          /img/about-us/tablet/about-tablet-2x.webp 2x
        "
      />

      <source
        media="(min-width: 1440px)"
        srcset="
          /img/about-us/desktop/about-desktop-1x.webp 1x,
          /img/about-us/desktop/about-desktop-2x.webp 2x
        "
      />

      <img
        class="about-img"
        src="/img/about-us/mobile/aboult-mobile-1x.webp"
        alt="about team"
      />
    </picture>
  </div>
</section>
