<footer class="page-footer">
    <div class="container footer-container">
        <div class="high-footer">
            <a class="logo-footer" href="./index.html">
                <img src="/img/footer.svg" alt="Логотип" />
            </a>

            <nav class="footer-nav">
                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <a href="#assortment" class="footer-nav-link">Наші меблі</a>
                    </li>
                    <li class="footer-nav-item">
                        <a href="#about" class="footer-nav-link">Про нас</a>
                    </li>
                    <li class="footer-nav-item">
                        <a href="#faq" class="footer-nav-link">Часті питання</a>
                    </li>
                    <li class="footer-nav-item">
                        <a href="#feedbacks" class="footer-nav-link">Відгуки</a>
                    </li>
                </ul>
            </nav>

            <ul class="footer-media">

                <li class="footer-media-item">
                    <a href="https://www.youtube.com/" class="footer-media-link" target="_blank">
                        <svg class="footer-icon" width="24" height="24">
                            <use href="/img/footer.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>

                <li class="footer-media-item">
                    <a href="https://www.instagram.com/" class="footer-media-link" target="_blank">
                        <svg class="footer-icon" width="24" height="24">
                            <use href="/img/footer.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>

                <li class="footer-media-item">
                    <a href="https://www.facebook.com/" class="footer-media-link" target="_blank">
                        <svg class="footer-icon" width="24" height="24">
                            <use href="/img/footer.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-down">
            <p class="copyright">&copy; 2025 Relume. Всі права захищені.</p>
        </div>
    </div>
</footer>