<footer class="page-footer">
    <div class="container footer-container">

        <div class="high-footer">
            <a class="logo-footer" href="./index.html">
                <svg width="228" height="98">
                    <use href="svg/footer.svg#icon-Company-Logo"></use>
                </svg>
            </a>

            <nav class="footer-nav" aria-label="Основна навігація футера">
                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <a href="#assortment" class="footer-nav-link">Наші меблі</a>
                    </li>
                    <li class="footer-nav-item">
                        <a href="#about" class="footer-nav-link">Про нас</a>
                    </li>
                    <li class="footer-nav-item">
                        <a href="#faq" class="footer-nav-link">Часті питання</a>
                    </li>
                    <li class="footer-nav-item">
                        <a href="#feedbacks" class="footer-nav-link">Відгуки</a>
                    </li>
                </ul>
            </nav>

            <ul class="footer-media" aria-label="Соціальні мережі">
                <li class="footer-media-item">
                    <a href="https://www.youtube.com/" class="footer-media-link" target="_blank"
                        rel="noopener noreferrer" title="YouTube канал Relume">
                        <svg class="footer-icon" width="24" height="24" role="img" aria-label="YouTube">
                            <use href="svg/footer.svg#icon-Youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-media-item">
                    <a href="https://www.instagram.com/" class="footer-media-link" target="_blank"
                        rel="noopener noreferrer" title="Instagram Relume">
                        <svg class="footer-icon" width="24" height="24" role="img" aria-label="Instagram">
                            <use href="svg/footer.svg#icon-Instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-media-item">
                    <a href="https://www.facebook.com/" class="footer-media-link" target="_blank"
                        rel="noopener noreferrer" title="Facebook Relume">
                        <svg class="footer-icon" width="24" height="24" role="img" aria-label="Facebook">
                            <use href="svg/footer.svg#icon-Facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="footer-down">
                <p class="copyright">&copy; 2025 Relume. Всі права захищені.</p>
            </div>
        </div>

       

    </div>
</footer>