<section class="section furniture-section" id="furniture">
  <div class="container">
    <h2 class="furniture-title">Наші меблі</h2>
    <p class="furniture-text">Знайдіть ідеальні рішення для вашого інтер'єру</p>
    <h3 class="visually-hidden">Категорії меблів</h3>
    <ul class="categories-list">
      <li class="categories-item">
        <button class="category-btn is-active" type="button" data-name="all">
          <img
            src="./img/furniture-list/furniture-showroom-1x.webp"
            srcset="
              ./img/furniture-list/furniture-showroom-1x.webp 1x,
              ./img/furniture-list/furniture-showroom-2x.webp 2x
            "
            alt="Всі товари"
            width="166"
            height="122"
            decoding="async"
          />
          <span>Всі товари</span>
        </button>
      </li>
      <li class="categories-item">
        <button class="category-btn" type="button" data-name="М'які меблі">
          <img
            src="./img/furniture-list/sofa-modern-1x.webp"
            srcset="
              ./img/furniture-list/sofa-modern-1x.webp 1x,
              ./img/furniture-list/sofa-modern-2x.webp 2x
            "
            alt="М'які меблі"
            width="166"
            height="122"
            decoding="async"
          />
          <span>М'які меблі</span>
        </button>
      </li>
      <li class="categories-item">
        <button
          class="category-btn"
          type="button"
          data-name="Шафи та системи зберігання"
        >
          <img
            src="./img/furniture-list/wardrobe-modern-1x.webp"
            srcset="
              ./img/furniture-list/wardrobe-modern-1x.webp 1x,
              ./img/furniture-list/wardrobe-modern-2x.webp 2x
            "
            alt="Шафи та системи зберігання"
            width="166"
            height="122"
            loading="lazy"
            decoding="async"
          />
          <span>Шафи та системи зберігання</span>
        </button>
      </li>
      <li class="categories-item">
        <button class="category-btn" type="button" data-name="Ліжка та матраци">
          <img
            src="./img/furniture-list/bedroom-cozy-1x.webp"
            srcset="
              ./img/furniture-list/bedroom-cozy-1x.webp 1x,
              ./img/furniture-list/bedroom-cozy-2x.webp 2x
            "
            alt="Ліжка та матраци"
            width="166"
            height="122"
            loading="lazy"
            decoding="async"
          />
          <span>Ліжка та матраци</span>
        </button>
      </li>
      <li class="categories-item">
        <button class="category-btn" type="button" data-name="Столи">
          <img
            src="./img/furniture-list/dining-table-modern-1x.webp"
            srcset="
              ./img/furniture-list/dining-table-modern-1x.webp 1x,
              ./img/furniture-list/dining-table-modern-2x.webp 2x
            "
            alt="Столи"
            width="166"
            height="122"
            loading="lazy"
            decoding="async"
          />
          <span>Столи</span>
        </button>
      </li>
      <li class="categories-item">
        <button
          class="category-btn"
          type="button"
          data-name="Стільці та табурети"
        >
          <img
            src="./img/furniture-list/dining-chairs-wooden-1x.webp"
            srcset="
              ./img/furniture-list/dining-chairs-wooden-1x.webp 1x,
              ./img/furniture-list/dining-chairs-wooden-2x.webp 2x
            "
            alt="Стільці та табурети"
            width="166"
            height="122"
            loading="lazy"
            decoding="async"
          />
          <span>Стільці та табурети</span>
        </button>
      </li>
      <li class="categories-item">
        <button class="category-btn" type="button" data-name="Кухні">
          <img
            src="./img/furniture-list/kitchen-modern-1x.webp"
            srcset="
              ./img/furniture-list/kitchen-modern-1x.webp 1x,
              ./img/furniture-list/kitchen-modern-2x.webp 2x
            "
            alt="Кухні"
            width="166"
            height="122"
            loading="lazy"
            decoding="async"
          />
          <span>Кухні</span>
        </button>
      </li>
      <li class="categories-item">
        <button
          class="category-btn"
          type="button"
          data-name="Меблі для дитячої"
        >
          <img
            src="./img/furniture-list/children-room-colorful-1x.webp"
            srcset="
              ./img/furniture-list/children-room-colorful-1x.webp 1x,
              ./img/furniture-list/children-room-colorful-2x.webp 2x
            "
            alt="Меблі для дитячої"
            width="166"
            height="122"
            loading="lazy"
            decoding="async"
          />
          <span>Меблі для дитячої</span>
        </button>
      </li>
      <li class="categories-item">
        <button class="category-btn" type="button" data-name="Меблі для офісу">
          <img
            src="./img/furniture-list/home-office-modern-1x.webp"
            srcset="
              ./img/furniture-list/home-office-modern-1x.webp 1x,
              ./img/furniture-list/home-office-modern-2x.webp 2x
            "
            alt="Меблі для офісу"
            width="166"
            height="122"
            loading="lazy"
            decoding="async"
          />
          <span>Меблі для офісу</span>
        </button>
      </li>
      <li class="categories-item">
        <button
          class="category-btn"
          type="button"
          data-name="Меблі для передпокою"
        >
          <img
            src="./img/furniture-list/entryway-modern-1x.webp"
            srcset="
              ./img/furniture-list/entryway-modern-1x.webp 1x,
              ./img/furniture-list/entryway-modern-2x.webp 2x
            "
            alt="Меблі для передпокою"
            width="166"
            height="122"
            loading="lazy"
            decoding="async"
          />
          <span>Меблі для передпокою</span>
        </button>
      </li>
      <li class="categories-item">
        <button
          class="category-btn"
          type="button"
          data-name="Меблі для ванної кімнати"
        >
          <img
            src="./img/furniture-list/bathroom-modern-1x.webp"
            srcset="
              ./img/furniture-list/bathroom-modern-1x.webp 1x,
              ./img/furniture-list/bathroom-modern-2x.webp 2x
            "
            alt="Меблі для ванної кімнати"
            width="166"
            height="122"
            loading="lazy"
            decoding="async"
          />
          <span>Меблі для ванної кімнати</span>
        </button>
      </li>
      <li class="categories-item">
        <button
          class="category-btn"
          type="button"
          data-name="Садові та вуличні меблі"
        >
          <img
            src="./img/furniture-list/patio-cozy-1x.webp"
            srcset="
              ./img/furniture-list/patio-cozy-1x.webp 1x,
              ./img/furniture-list/patio-cozy-2x.webp 2x
            "
            alt="Садові та вуличні меблі"
            width="166"
            height="122"
            loading="lazy"
            decoding="async"
          />
          <span>Садові та вуличні меблі</span>
        </button>
      </li>
      <li class="categories-item">
        <button
          class="category-btn"
          type="button"
          data-name="Декор та аксесуари"
        >
          <img
            src="./img/furniture-list/home-decor-shelves-1x.webp"
            srcset="
              ./img/furniture-list/home-decor-shelves-1x.webp 1x,
              ./img/furniture-list/home-decor-shelves-2x.webp 2x
            "
            alt="Декор та аксесуари"
            width="166"
            height="122"
            loading="lazy"
            decoding="async"
          />
          <span>Декор та аксесуари</span>
        </button>
      </li>
    </ul>
    <div class="furniture-loader is-hidden" aria-hidden="true"></div>
    <h3 class="visually-hidden">Список меблів</h3>
    <ul class="furniture-list"></ul>
    <div class="furniture-controls">
      <button class="load-more-btn btn-red is-hidden" type="button">
        Показати ще
      </button>
      <div class="furniture-loader is-hidden" aria-hidden="true"></div>
    </div>
  </div>
</section>
