<div
  class="order-modal-backdrop is-hidden"
  id="order-modal-backdrop"
  aria-hidden="true"
  inert
>
  <div
    class="order-modal"
    role="dialog"
    aria-modal="true"
    aria-labelledby="order-modal-title"
  >
    <button
      class="order-modal__close"
      type="button"
      aria-label="Закрити модальне вікно"
      id="order-modal-close"
    >
      <svg
        width="15"
        height="15"
        viewBox="0 0 15 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M13.866 13.3946L13.3945 13.866C13.1342 14.1263 12.7121 14.1263 12.4517 13.866L7.03064 8.44484L1.60944 13.8659C1.34914 14.1263 0.927022 14.1263 0.666672 13.8659L0.195262 13.3945C-0.0650875 13.1342 -0.0650875 12.7121 0.195262 12.4517L5.61644 7.03064L0.195262 1.60944C-0.0650875 1.34914 -0.0650875 0.927022 0.195262 0.666672L0.666662 0.195272C0.927012 -0.065078 1.34914 -0.065078 1.60944 0.195272L7.03064 5.61644L12.4517 0.195262C12.7121 -0.0650875 13.1342 -0.0650875 13.3945 0.195262L13.866 0.666662C14.1263 0.927012 14.1263 1.34914 13.866 1.60944L8.44484 7.03064L13.866 12.4517C14.1263 12.7121 14.1263 13.1342 13.866 13.3946Z"
          fill="#080C09"
        />
      </svg>
    </button>

    <div class="order-modal__content">
      <h2 class="order-modal__title" id="order-modal-title">Замовити</h2>

      <form class="order-modal__form" id="order-modal-form" novalidate>
        <label class="order-modal__field" for="order-name">
          <span class="order-modal__label">Ім’я*</span>
          <input
            class="order-modal__input"
            type="text"
            id="order-name"
            name="name"
            placeholder="Дмитро"
            autocomplete="given-name"
            aria-describedby="order-name-error"
            required
          />
          <span class="order-modal__error" id="order-name-error"></span>
        </label>

        <label class="order-modal__field" for="order-phone">
          <span class="order-modal__label">Телефон*</span>
          <input
            class="order-modal__input"
            type="tel"
            id="order-phone"
            name="phone"
            placeholder="38 099 123 22 11"
            autocomplete="tel"
            aria-describedby="order-phone-error"
            required
          />
          <span class="order-modal__error" id="order-phone-error"></span>
        </label>

        <label class="order-modal__field" for="order-comment">
          <span class="order-modal__label">Коментар*</span>
          <textarea
            class="order-modal__textarea"
            id="order-comment"
            name="comment"
            placeholder="Введіть ваш коментар"
            rows="5"
          ></textarea>
        </label>

        <div class="order-modal__actions">
          <button class="order-modal__submit btn-red" type="submit">
            Надіслати заявку
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
