<section class="popular-products">
  <div class="container">
    <h2 class="popular-products-title">Популярні товари</h2>
    <div class="popular-wrapper">
      <button class="js-swiper-button-prev" type="button">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <path
            d="M15 18l-6-6 6-6"
            stroke="currentColor"
            stroke-width="2"
            fill="none"
          />
        </svg>
      </button>

      <div class="swiper popular-swiper">
        <ul class="swiper-wrapper js-popular-list"></ul>
      </div>

      <button class="js-swiper-button-next" type="button">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <path
            d="M9 6l6 6-6 6"
            stroke="currentColor"
            stroke-width="2"
            fill="none"
          />
        </svg>
      </button>
    </div>
    <div class="swiper-pagination js-swiper-pagination"></div>
  </div>
</section>
