<section class="popular-products section" id="popular-products">
  <div class="container">
    <h2 class="popular-products-title">Популярні товари</h2>

    <div class="slider-container">
      <div class="swiper popular-swiper">
        <ul class="swiper-wrapper js-popular-list"></ul>
      </div>

      <div class="swiper-pagination js-swiper-pagination"></div>

      <ul class="popular-products-nav-list">
        <li class="popular-products-nav-item">
          <button
            class="js-swiper-button-prev"
            type="button"
            aria-label="Попередній слайд"
          >
            <svg width="24" height="24" aria-hidden="true">
              <use xlink:href="./svg/feedback.svg#icon-left-arrow-alt"></use>
            </svg>
          </button>
        </li>
        <li class="popular-products-nav-item">
          <button
            class="js-swiper-button-next"
            type="button"
            aria-label="Наступний слайд"
          >
            <svg width="24" height="24" aria-hidden="true">
              <use xlink:href="./svg/feedback.svg#icon-right-arrow-alt"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
