:root {
    /* Fonts */
    --font-main: 'Raleway', sans-serif;
    --font-secondary: 'IBM Plex Sans', sans-serif;

    /* Colors */
        --color-white: #fff;
        --color-neutral-lightest: #f2f2f2;
        --color-neutral-light: #b4b6b5;
        --color-neutral: #838584;
        --color-neutral-dark: #525452;
        --color-neutral-darker: #202421;
        --color-neutral-darkest: #080c09;
    
        --color-madang-lightest: #f0e6e6;
        --color-madang-lighter: #e1cdcd;
        --color-madang-light: #975052;
        --color-madang: #6b0609;
        --color-madang-dark: #550407;
        --color-madang-darker: #2a0203;
        --color-madang-darkest: #200102;
    
        /* Opacity helpers */
        --opacity-transparent: rgba(255, 255, 255, 0);
        --opacity-white-5: rgba(255, 255, 255, 0.05);
        --opacity-white-10: rgba(255, 255, 255, 0.1);
        --opacity-white-15: rgba(255, 255, 255, 0.15);
        --opacity-white-20: rgba(255, 255, 255, 0.2);
        --opacity-white-30: rgba(255, 255, 255, 0.3);
        --opacity-white-40: rgba(255, 255, 255, 0.4);
        --opacity-white-50: rgba(255, 255, 255, 0.5);
        --opacity-white-60: rgba(255, 255, 255, 0.6);
    
        --opacity-neutral-darkest-5: rgba(8, 12, 9, 0.05);
        --opacity-neutral-darkest-10: rgba(8, 12, 9, 0.1);
        --opacity-neutral-darkest-15: rgba(8, 12, 9, 0.15);
        --opacity-neutral-darkest-20: rgba(8, 12, 9, 0.2);
        --opacity-neutral-darkest-30: rgba(8, 12, 9, 0.3);
        --opacity-neutral-darkest-40: rgba(8, 12, 9, 0.4);
        --opacity-neutral-darkest-50: rgba(8, 12, 9, 0.5);
        --opacity-neutral-darkest-60: rgba(8, 12, 9, 0.6);
    
        /* Color schemes */
        --color-scheme-1-background: var(--color-white);
        --color-scheme-1-border: var(--opacity-neutral-darkest-15);
        --color-scheme-1-text: var(--color-neutral-darkest);
        --color-scheme-1-foreground: var(--color-neutral-lightest);
        --color-scheme-1-accent: var(--color-neutral-darkest);
    
        --color-scheme-2-text: var(--color-neutral-darkest);
        --color-scheme-2-background: var(--color-madang-lightest);
        --color-scheme-2-border: var(--opacity-neutral-darkest-15);
        --color-scheme-2-foreground: var(--color-madang-lighter);
        --color-scheme-2-accent: var(--color-neutral-darkest);
}

body {
    box-sizing: border-box;
    font-family: var(--font-main);
    color: var(--color-neutral-darkest);
    font-size: 16px;
    line-height: 1.5;
}

/* Styles for Mobile and Tab devices */
section {
    padding: 48px 0;
    scroll-margin-top: 72px;
}


/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
    section {
       padding: 72px 0;
    }
}