:root {
    --color-scheme-1-background: var(--color-white);
    --color-madang: #6b0609;
    --color-neutral: #838584;
    --color-scheme-1-text: var(--color-neutral-darkest);
    --opacity-neutral-darkest-5: rgba(8, 12, 9, 0.05);
    --opacity-neutral-darkest-15: rgba(8, 12, 9, 0.15);
    --opacity-white-5: rgba(255, 255, 255, 0.05);
}
:root {
    --font-family: "Raleway", sans-serif;
}

/* BACKDROP */
.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.25);

    visibility: hidden;
    pointer-events: none;

    transform: translateY(-100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-open {
    display: flex;
    
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* CONTENT */
.modal-content {
    background: var(--color-scheme-1-background);
    border-radius: 8px;   
    width: 335px;
    height: 1155px;

    padding: 64px 20px;
    position: relative;

    overflow: hidden;
}
/* CLOSE */
.modal-close {
    position: absolute;
    top: 16px;
    right: 16px;

    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}
/* INNER */
.modal-inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    margin-bottom: 32px;
    
    width: 295px;
    height: auto;
    overflow: visible;
}



/* IMAGE */
.modal-main-image {
    width: 100%;
    
    object-fit: cover;
    border-radius: 8px;
    width: 295px;
    height: 297px;
}

/* THUMBNAILS */
.modal-thumbnails {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    width: 295px;
    height: 197px;
    
}

.modal-thumbnails img {    
    object-fit: cover;    
    cursor: pointer;
    border-radius: 8px;
    width: 139px;
    height: 197px;
}

.modal-title {
    font-family: var(--font-family);
    margin-top: 24px;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: var(--color-scheme-1-text);
}

.modal-category {
    font-family: var(--font-family);
    line-height: 160%;
    color: var(--color-scheme-1-text);
}

.modal-price {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--color-scheme-1-text);
    margin-bottom: 24px;
}

.modal-rating {
    width: 295px;
    height: 15px;
    margin-bottom: 24px;
}

/* COLORS */
.modal-colors {
    margin-bottom: 24px;
} 

.color-text {
    font-family: var(--font-family);
    line-height: 160%;
    color: var(--color-scheme-1-text);
    margin-bottom: 8px;
}
.color-options {
    width: 295px;
    height: 32px;
    display: flex;
    gap: 10px;
}

.color-options span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: 2px solid transparent;
}

.color-options span.active {    
    border: 4px solid var(--color-neutral);
}

.modal-description {
    font-family: var(--font-family);
    line-height: 160%;
    color: var(--color-scheme-1-text);
    margin-bottom: 32px;
}
.modal-size {
    font-family: var(--font-family);
    line-height: 160%;
    color: var(--color-scheme-1-text);
    margin-bottom: 24px;
}

/* BUTTON */
.modal-order-btn {
    padding: 10px 24px;
    width: 295px;
    height: 46px;
    border: none;
    border-radius: 100px;

    box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px var(--opacity-neutral-darkest-15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 var(--opacity-white-5);
    background: var(--color-madang);
    color: white;
    cursor: pointer;
}

/* TABLET */
@media (min-width: 768px) {
    .modal-content {
        padding: 64px 32px 32px;
        width: 704px;
        height: 1091px;
    }

    .modal-inner {
        gap: 20px;
        width: 640px;
        /* height: 995px;
        max-width: 1318px; */
    }

    .modal-main-image {
        width: 640px;
        height: 297px;
    }
    
    .modal-thumbnails {
        width: 640px;
        height: 197px;
        gap: 16px;
    }

    .modal-thumbnails img {
        width: 312px;
        height: 197px;
    }

    .modal-colors {
        width: 400px;
    }

    .color-options span {
        width: 32px;
        height: 32px;
    }

    .modal-description {
        width: 421px;
        height: 78px;
    }
    
        .modal-order-btn {
            width: 310px;
        }
}


/* DESKTOP */
@media (min-width: 1440px) {
    .modal-content {
        display: flex;
        padding: 64px;
        width: 1090px;
        height: auto;
        overflow: hidden;
    }

    .modal-inner {
        width: 962px;
            height: auto;
            /* max-width: 1318px; */
            max-width: 962px;
        flex-direction: row;
        gap: 24px;
        align-items: flex-start;
        margin-bottom: 0;
        overflow: visible;
    }

    /* LEFT */
    .modal-gallery {
        width: 580px;
        height: auto;
        /* flex: 1.2; */
        flex: 0 0 580px;
    }

    /* RIGHT */
    .modal-info {
        flex: 1;
        width: 358px;
        height: auto;
        overflow: visible;
    }

    .modal-main-image {
        max-height: 400px;
        width: 580px;
        height: 308px;
    }

    .modal-thumbnails img {
        width: 120px;
        height: 100px;
        flex: 0 0 auto;
    }

    .modal-thumbnails {
        width: 580px;
        height: auto;
    }
    
    .modal-title {
        margin-top: 0;
        font-size: 40px;
    }

    .modal-price {
        font-size: 32px;
    }

    .modal-rating {
        width: 358px;
        height: 15px;
    }

    .modal-description {
        width: 358px;
        height: 104px;
    }

    .modal-size {
        width: 358px;
        height: 26px;
    }

    .modal-order-btn {
        margin-bottom: 14px;
    }
}